node_modules/
.DS_Store
baselines*/
/.idea/
.idea/
/coverage/
/src_to_json/
/packages/playwright-sdk/dist/
/export_gpt_codebase/
debug.html
.tmp_
lerna-debug.log
chrome
*.tsbuildinfo
packages/syngrisi/e2e/support/mcp/screenshots